@font-face {
  font-family: Unna;
  src: url(./fonts/Unna-Regular.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(./fonts/Poppins-Light.ttf);
}

body {
  background-color: #F3ECEF !important;
  font-size: 15px !important;
  font-family: Poppins !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #904660 !important;
  font-family: Unna !important;
}

a {
  color: #904660 !important;
  text-decoration: none !important;
}

a.nav-link {
  color: #F3ECEF !important;
}

a:hover {
  letter-spacing: 2px;
}

.btn-primary {
  background-color: #904660 !important;
  border-color: #904660 !important;
  color: #F3ECEF !important;
  font-family: Unna !important;
  letter-spacing: 2px;
}

.btn-primary:hover {
  color: #F3ECEF !important;
  background-color: #562A39 !important;
}

.btn-secondary {
  background-color: #562A39 !important;
  color: #F3ECEF !important;
  font-family: Unna !important;
  letter-spacing: 2px;
}

.btn-secondary:hover {
  color: #904660 !important;
  background-color: #F3ECEF !important;

}

.nav {
  background-color: #904660 !important;
}


a.navbar-brand {
  color: #F3ECEF !important;
  font-family: Unna !important;
}

a.navbar-brand:hover {
  letter-spacing: normal;
  color: #562A39 !important;
}

.link-list {
  margin: .5rem;
  padding: 0px;
}

.offCanvas {
  background-color: #F3ECEF !important;
}


li {
  list-style-type: none;
}

main {
  width: 50%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  text-align: center;
  margin: 1rem;
}

.product>img {
  border-radius: 100px;
  text-align: center;
  margin: 1rem auto;

}

.product-img-wrap {
  width: 100%;
  background-color: #fff;
  padding: 4rem;
  margin-bottom: 2rem;
}

.product-page>h1 {
  padding: .5rem;
  margin: .5rem;
}


.product-page {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.product-page>img {
  display: block;
  margin: 1rem auto;

}

.product-colors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;
}

.product-colors>li {
  height: 3rem;
  width: 3rem;
  margin: .5rem;
  border-radius: 100px;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  text-align: center;
}

.product-info>.btn,
.product-info>.btn-group {
  width: 50% !important;
  margin: 0 auto;
}

.product-description {
  display: flex;
  flex-direction: column;
}

.product-description>Button {
  width: 50%;
  margin: 0 auto;
}

.product-description>a {
  color: #562A39 !important;
}

.product-features {
  margin: 1rem auto;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
  justify-items: center;
}

.tag,
.add-to-cart {
  width: 100%;
  margin: 1rem;
  padding: 1rem !important;
  font-size: 1.3rem !important;
  word-break: break-all;
}


.product>.card {
  background-color: #904660 !important;

}

.product>a:hover {
  letter-spacing: normal;
}

.product-card {
  background-color: #904660 !important;
  color: #f3ecef !important;
  margin: 0 auto !important;
}

.product-card:hover {
  background-color: #F3ECEF !important;
  color: #562A39 !important;
}

.selected-li {
  border: #0000009a 5px solid;
}


.home>ul {
  padding-inline-start: 0px;
  color: #F3ECEF;
  margin: 0;
}

.home>ul>li {
  padding: 3rem;
  background-blend-mode: overlay;
  background-size: cover;
}

.home>ul>li>img {
  float: right;
  border-radius: 300px;
}

.categoryitem>h1 {
  margin-bottom: 1rem;
}

.category-item::first-letter {
  -webkit-initial-letter: 1.3;
  initial-letter: 1.3;
  text-align: inherit !important;
}

.home>ul>li>p {
  text-align: left;
  width: 75%;
}


.category-item:nth-child(even) {
  text-align: right;
  background-position: left;
  background-image: url('./images/eyeshadow_background.jpg');
  background-color: #F3ECEF;
  color: #562A39;
}
.category-item:nth-child(even)>h1>a:hover {
  letter-spacing: normal;
  color: #562A39 !important;
}


.category-item:nth-child(odd) {
  text-align: left;
  background-position: right;
  color: #F3ECEF !important;
  background-color: #904660;
  background-image: url('./images/polish_background.jpg');

}

.category-item:nth-child(odd)>h1 {
  color: #f3ecef !important;
}


.category-item:nth-child(odd)>h1>a:hover {
  letter-spacing: normal;
  color: #562A39 !important;
}

.category-item:nth-child(odd)>h5>a {
  color: #f3ecef !important;
}

.react-multiple-carousel__arrow {
  background-color: #562a3988 !important;
}

.flex {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.cart-item {
  margin: 1rem;
}

.cart-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cart-item-image {
  border-radius: 100px;
}

.cart-item-image:hover {
  border: #562A39 5px solid;
}

.display-item>img {
  border: #562A39 2px solid;
  border-radius: 100px;
  width: 150px;
  height: 150px;
}

.display-item {
  border: 0px;
  background-color: transparent;
  padding: 0px
}

.display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 2rem !important;
  text-align: center !important;
  background-color: #f3ecef;

}

.display:nth-child(odd) {
  background-image: url('./images/makeup_background.jpg');
}

.display:nth-child(even) {
  background-image: url('./images/cartImage.jpg');
}

.Carousel {
  padding: 2rem;
  margin: 2rem;
  visibility: visible !important;
}

.small-display {
  visibility: hidden !important;

}

@media (max-width:750px) {
  .display-item>img {
    width: 125px;
    height: 125px;
  }

  main {
    width: 75%;
  }
}

@media (max-width:500px) {
  .display-item>img {
    width: 100px;
    height: 100px;
  }

  main {
    width: 100%;
  }

  .Carousel {
    padding: 2rem;
    margin: 2rem;
    visibility: hidden !important;
    height: 0px !important;
  }

  h1 {
    margin-bottom: 2rem !important;
  }

  .small-display {
    margin-top: 0px !important;
    visibility: visible !important;
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 100%;
  }

  .small-display-item {
    margin: .5rem;
  }

  .small-display-item>img {
    height: 5rem;
    width: 5rem;
  }
}