@font-face {
  font-family: Unna;
  src: url(./fonts/Unna-Regular.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(./fonts/Poppins-Light.ttf);
}

body {
  background-color: #F3ECEF !important;
  font-size: 15px !important;
  font-family: Poppins !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #904660 !important;
  font-family: Unna !important;
}

a {
  color: #904660 !important;
  text-decoration: none !important;
}

a.nav-link {
  color: #F3ECEF !important;
}

a:hover {
  letter-spacing: 2px;
}

.btn-primary {
  background-color: #904660 !important;
  border-color: #904660 !important;
  color: #F3ECEF !important;
  font-family: Unna !important;
  letter-spacing: 2px;
}

.btn-primary:hover {
  color: #F3ECEF !important;
  background-color: #562A39 !important;
}

.btn-secondary {
  background-color: #562A39 !important;
  color: #F3ECEF !important;
  font-family: Unna !important;
  letter-spacing: 2px;
}

.btn-secondary:hover {
  color: #904660 !important;
  background-color: #F3ECEF !important;

}

.nav {
  background-color: #904660 !important;
}


a.navbar-brand {
  color: #F3ECEF !important;
  font-family: Unna !important;
}

a.navbar-brand:hover {
  letter-spacing: normal;
  color: #562A39 !important;
}
.link-list{
  margin:0px;
  padding:0px;
}

.offCanvas {
  background-color: #F3ECEF !important;
}


li {
  list-style-type: none;
}

main {
  width: 50%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.product {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  text-align: center;
  margin: 1rem;
}

.product>img {
  border-radius: 100px;
  text-align: center;
  margin: 1rem auto;
}

.product-colors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-colors>li {
  height: 3rem;
  width: 3rem;
  margin: .5rem;
  border-radius: 100px;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  text-align: center;
}

.product-info>.btn,
.product-info>.btn-group {
  width: 50% !important;
  margin: 0 auto;
}

.product-description {
  display: flex;
  flex-direction: column;
}

.product-description>Button {
  width: 50%;
  margin: 0 auto;
}
.product-description>a{
  color: #562A39!important;
}
.product-features {
  margin:1rem auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align:center;
  justify-content: space-evenly;
  justify-items: center;
}

.product-features>h5 {
  width: 100%;
}
.product>.card{
  background-color: #904660!important;

}
.product>a:hover{
  letter-spacing: normal;
}
.product-card{
  background-color: #904660 !important;
  color: #f3ecef !important;
  margin:0 auto !important;
}
.product-card:hover{
  background-color: #F3ECEF !important;
  color:#562A39 !important;
}

.selected-li {
  border: #0000009a 5px solid;
}


.home>ul {
  padding-inline-start: 0px;
  color: #F3ECEF;
  margin:0;
}

.home>ul>li {
  padding: 3rem;
  background-blend-mode:overlay;
  background-size: cover;

}
.home>ul>li>img{
  float: right;
  border-radius:300px;

}

.home>ul>li>h1 {
  margin-bottom: 1rem;
}

.home>ul>li>h1::first-letter {
  -webkit-initial-letter: 1.3;
  initial-letter: 1.3;
}

.home>ul>li>p {
  text-align: left;
  width:75%;
}

.your-picks{
  position: relative;
  text-align: left;
  background-image: url('./images/cartImage.jpg');
  background-color: #F3ECEF;
  background-blend-mode:overlay;
  background-repeat: no-repeat;
  background-size: cover;
  padding:0px;
}
.your-picks>h6,h1{
  padding:2rem;
}
.your-picks::first-letter {
  -webkit-initial-letter: 1.3;
  initial-letter: 1.3;
}

.your-picks>.display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:0 auto;
    padding:4rem;
}
.home>ul>li:nth-child(odd) {
  text-align: right;
  background-position: left;
  background-image: url('./images/eyeshadow_background.jpg');
  background-color: #F3ECEF;
  color: #562A39;
}

.home>ul>li:nth-child(even) {
  text-align:left;
  background-position: right;
  background-color: #904660;
  background-image: url('./images/polish_background.jpg');

}

.home>ul>li:nth-child(even)>h1 {
  color: #f3ecef !important;
}
.home>ul>li:nth-child(even)>h5>a {
  color: #f3ecef !important;
}

.display{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin:0 auto;
}
.flex{
  display: flex;
  flex-direction: row;
  overflow:scroll;
}
.cart-item{
margin: 1rem;
}

.cart-item{
display:flex;
flex-direction:column;
justify-content: space-evenly;
}
.cart-item-image{
  border-radius:100px;
}
.cart-item-image:hover{
  border:#562A39 5px solid;
}
@media (max-width:750px) {

  main {
    width: 75%;
  }
}

@media (max-width:500px) {

  main {
    width: 100%;
  }
}